html
{
height: 100%; 
}

.dropdown:hover .dropdown-content {display: block;}


.bodyclass
{
background:url("myimg.jpg");
height: 100%; 
background-position: center;
background-repeat: no-repeat;
background-size:cover;
}

.enclosing-div
{
  margin:0 auto;
  width:80%;
}


.todolistadd
{
	height:150px;
	width:50%;
	margin: 50px auto;
	background-color:#da5cd745;
	border-radius: 10px;
}

.todoinput
{	
	position:relative;
	top:20px;
	margin:0 auto;
	width:50%;
}
.thisdiv
{
  width:100%;
}

.listheader
{
text-align:center;
}


.myInput
{
position:relative;
top:20px;
left:40px;
width:70%;
height:40px;
border:5px solid #ff8f31b3;
border-radius: 10px;
text-align: center;
}

.addBtn
{
position:relative;
top:25px;
left:50px;
height:40px;
width:15%;
border-radius: 10px;
font-size: 25px;
font-weight: bold;
}


.btn-span
{
margin-top: 2%;
display: inline-block;
float: right;
}

.statusbutton
{
height:40px;
width:100px;
border-radius: 10px;
font-size: 25px;
font-weight: bold;
float:right;
}

.editbutton
{
height:40px;
width:100px;
border-radius: 10px;
font-size: 25px;
font-weight: bold;
float:right;
}

.delbutton
{
height:40px;
width:100px;
border-radius: 10px;
font-size: 25px;
font-weight: bold;
float:right;
}

.divclass
{
margin:10px auto;
width:80%;
height:10%;
padding:7% 0%;
background-color:#ffd06582;
text-align:center;
font-style:xx-large;
border-width:4px;
border-radius:10px;
}
