html
{
height: 100%; 
}

.dropdown:hover .dropdown-content {display: block;}


.bodyclass
{
background:url("myimg.jpg");
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size:cover;
}

/* .enclosing-div
{
  margin:0 auto;
  width:80%;
}
 */
 .drop-div1
 {
 width:10%;
 }

 .mydropdown
 {
 background-color:#0200ff42;
 width:100%;
 height:50%;
 }

.drop-div2
 {
 width:10%;
 }

.select_dropdown
{
 background-color:#0200ff42;
 width:100%;
 height:50%;	
}

.todolistadd
{
	height:20%;
	width:60%;
	margin:0 auto;
	background-color:#da5cd745;
	border-radius:50px;
}

.todoinput
{	
	position:relative;
	top:20px;
	margin:0 auto;
	width:40%;
}

.thisdiv
{
  width:100%;
}

.listheader
{
text-align:center;
}

.myInput
{
height:30px;
width:70%;
margin-left:5%;
border:5px solid #ff8f31b3;
border-radius: 10px;
text-align: center;
}

.addBtn
{
height:40px;
width:15%;
margin-left:5%;
border-radius: 10px;
font-size: 25px;
font-weight: bold;
}


.btn-span
{
margin-top: 2%;
display: inline-block;
float: right;
}

.statusbutton
{
height:30%;
width:100px;
border-radius: 10px;
font-size: 25px;
font-weight: bold;
float:right;
}

.editbutton
{
height:30%;
width:100px;
border-radius: 10px;
font-size: 25px;
font-weight: bold;
float:right;
}

.delbutton
{
height:30%;
width:100px;
border-radius: 10px;
font-size: 25px;
font-weight: bold;
float:right;
}

.divclass
{
margin:10px auto;
width:60%;
padding:5% 0%;
background-color:#ffd06582;
text-align:center;
font-style:xx-large;
border-width:5px;
border-radius:50px;
}
